BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
SortIncludes: CaseSensitive
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
